VITE_CONTRACT_ADDRESS=79f20921e5ca2377260b4912892cb690f20afa14ccc86667e697724d6eb13268
VITE_INDEXER_URL=https://indexer.preprod.midnight.network/api/v4/graphql
VITE_INDEXER_WS=wss://indexer.preprod.midnight.network/api/v4/graphql/ws
