MIDNIGHT_PREPROD_MNEMONIC="apple banana cherry dog elephant fox grape hat ice juice kite lemon mouse nut orange pen quilt rabbit sun tree umbrella van water xylophone yacht zebra"
MIDNIGHT_PROOF_SERVER="http://127.0.0.1:6300"
